.Selected {
  position: relative;
  z-index: 1;
}

.Selected::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\e876";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Material Icons";
  font-weight: 700;
  font-size: 21px;
  color: #272626;
  border-radius: 100%;
  background-color: rgba(92, 92, 92, 0.247);
  text-shadow: 0px 0px 5px rgba(197, 197, 197, 0.466);
  z-index: 2;
}
