.GuessResult {
  display: grid;
  grid-template-columns: 12px 12px;
  height: 30px;
  width: 30px;
  grid-gap: 5px;
}

.GuessResult > div {
  border-radius: 100%;
}

.Undecided {
  border: 2px solid rgb(187, 187, 187);
}

.BCorrect {
  border: 2px solid #3f3c3c;
  background-color: #3f3c3c;
}

.CCorrect {
  border: 2px solid #eb7532;
  background-color: #eb7532;
}

@media (max-width: 500px) {
  .GuessResult {
    grid-template-columns: 9px 9px;
    height: 22px;
    width: 22px;
    grid-gap: 3px;
  }
}
