.GuessResult {
  display: grid;
  grid-template-columns: 12px 12px;
  height: 30px;
  width: 30px;
  grid-gap: 5px;
  margin: 0px 10px;
}

.GuessResult > div {
  border: 2px solid rgb(187, 187, 187);
  border-radius: 100%;
}
