.GuessSection {
  padding: 20px;
  background-color: white;
  border-radius: 0px 20px;
}

@media (max-width: 500px) {
  .GuessSection {
    padding: 10px;
    border-radius: 0px 10px;
  }
}

@media (max-width: 350px) {
  .GuessSection {
    padding: 5px;
  }
}
