.CheckButton {
  position: relative;
  background-color: white;
  margin: 0px 10px;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  outline: none;
  border: none;
}

.CheckButton:hover {
  background-color: rgb(212, 212, 212);
}

.CheckButton::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\e876";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Material Icons";
  font-weight: 700;
  font-size: 21px;
  color: #272626;
  border-radius: 100%;
}

.Disable {
  pointer-events: none;
  opacity: 0.4;
}

@media (max-width: 500px) {
  .CheckButton {
    margin: 5px;
    height: 40px;
    width: 40px;
  }
}
